<br />
<h4 class="client-info-header">
  <i
    class="pi pi-user"
    style="font-size: 24px; margin: 0px 5px; color: #007bff;"
  ></i>
  <!-- Add the icon here -->
  Client Information
</h4>
<div *ngIf="sectionLoading">
    <div class="grid">
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        <div class="col-12 xl:col-7" style="margin: auto;">
            <p-skeleton height="50px" />
        </div>
        
        
    </div>
</div>


<div *ngIf="!sectionLoading">


<div class="grid">
  <div class="col-12 xl:col-12">
    <div class="card">
      <div class="client-details">
        <!-- Client Info Section -->
        <div class="info-section">
          <div class="info-label">Name:</div>
          <div class="info-value">
            {{ clientInfo.name }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.name)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">Phone:</div>
          <div class="info-value">
            {{ clientInfo.phone }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.phone)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">Addr 1:</div>
          <div class="info-value">
            {{ clientInfo.address_1 }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.address_1)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">Addr 2:</div>
          <div class="info-value">
            {{ clientInfo.address_2 }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.address_2)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">City:</div>
          <div class="info-value">
            {{ clientInfo.city }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.city)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">State:</div>
          <div class="info-value">
            {{ clientInfo.state }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.state)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">Zip:</div>
          <div class="info-value">
            {{ clientInfo.zip }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.zip)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">LOA Expiration:</div>
          <div class="info-value">
            {{ clientInfo.loa_expires }}
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.loa_expires)"
            ></i>
          </div>
        </div>
        <div class="info-section">
          <div class="info-label">Website:</div>
          <div class="info-value">
            <a href="{{ clientInfo.web_site }}" target="_blank">{{
              clientInfo.web_site
            }}</a>
            <i
              class="pi pi-copy copy-icon"
              (click)="copyToClipboard(clientInfo.web_site)"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
