<div class="login-section">
    <div class="section bg-img">
        <div class="section-content">
            <div class="logo" style="display: flex; justify-content: center">
                <img
                    src="assets/layout/images/pvs_logo.png"
                    alt="PVS Logo"
                    class="w-100 mt-3 mb-3"
                />
            </div>
            <h3>Specializing in Complex Properties</h3>
            <p>
                PVS is dedicated to providing exceptional services exclusively
                to businesses that own and operate special purpose,
                income-producing complex properties. Whether it’s a
                state-of-the-art medical building, a specialized industrial
                facility or a multifaceted real estate development, we have the
                expertise to handle the complexities associated with these
                properties.
            </p>

            <h3>Let Us Reduce Your Taxable Liability</h3>
            <p>
                Our primary goal is to help you reduce your taxable liability,
                not just this year but every year to come. By leveraging our
                expertise and knowledge, we can identify cost-saving strategies
                specific to your complex properties. Partner with PVS, and we
                will guide you through the complex world of property taxation,
                ensuring that you benefit from every available opportunity.
            </p>

            <h3>PVS Client Portal</h3>
            <p>
                The PVS Client Portal is a secure and user-friendly platform
                designed to provide our clients with real-time access to their
                property valuation data, reports, and tax-related insights.
            </p>
        </div>
    </div>
    <div class="section">
        <div class="login-form" style="margin-top: -60px">
            <div class="logo" style="display: flex; justify-content: center">
                <img
                    src="assets/layout/images/pvs_logo.png"
                    alt="PVS Logo"
                    class="w-100 mt-3 mb-3"
                />
            </div>
            <br />
            <div class="card">
                <h4 style="text-align: center; font-weight: bold; color: #08274b;">Client Login</h4>
                <br>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="flex flex-column gap-3" style="position: relative;">
                    <label for="username">Username</label>
                    <input 
                      pInputText 
                      id="username" 
                      formControlName="username" 
                      [ngClass]="{ 'ng-invalid': isFieldInvalid('username') }"
                    />
                    <small *ngIf="isFieldInvalid('username')" class="error-text">
                      Username is required.
                    </small>
                  </div>
                  <br>
                  <div class="flex flex-column gap-3" style="position: relative; padding: 5px 0px;">
                    <label for="password">Password</label>
                    <p-password 
                      id="password" 
                      formControlName="password" 
                      [feedback]="false" 
                      [toggleMask]="true" 
                      [inputStyle]="{'width': '100%'}" 
                      [style]="{'width': '100%'}"
                      [ngClass]="{ 'ng-invalid': isFieldInvalid('password') }"
                    ></p-password>
                    <small *ngIf="isFieldInvalid('password')" class="error-text">
                      Password is required.
                    </small>
                  </div>
                  <br>
                  <br>
                  <div style="text-align: center;">
                    <p-button label="Login" type="submit" [disabled]="loginForm.invalid"></p-button>
                  </div>
                </form>
              </div>
               <p-toast />
        </div>
    </div>
</div>

